.dial {
    height: 400px;
    width: 400px;
}

#grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#long_mdp {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem;
    width: 5rem;
}

.displayPwd {
    font-size: 1.2rem;
    font-weight: bold;
    color: red;
}

.grid-row {
    width: 100%;
}

.timer {
    position: relative;
    display: inline-block;
}

body {
    font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.timer input {
    display: block;
    border: none;
    width: 240px;
    font-size: 90px;
    text-align: center;
}

.timer button {
    border: none;
    font-size: 36px;
    cursor: pointer;
}

.timer button:focus {
    outline: none;
}

.timer input:focus {
    outline: none;
}

.controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoslist {
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

.done {
    color: purple;
    font-weight: bold;
}

section {
    margin: 0 auto;
    width: 80%;
    background-color: antiquewhite;
}
.timer {
    display: flex;
    justify-content: center;
}
form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
